<div class="container">
  <div class="row product-list dev">
    <div
      class="col-sm-6 col-md-4 product-item animation-element slide-top-left"
    >
      <div class="product-container">
        <div class="row">
          <div class="col-md-12">
            <a href="#" class="product-image"
              ><img id="Shirt1" src="assets/img/SHIRT.jpeg"
            /></a>
          </div>
        </div>
        <div class="row">
          <div class="col-8">
            <h2>
              <a id='one' href="#" style="font-family:Cookie, cursive;font-size:27px;"
                >Classic Tshirt</a
              >
            </h2>
          </div>
          <div class="col-4"><a href="#" class="small-text">compare </a></div>
        </div>
        <div class="row">
          <div class="col-12">
            <p class="product-description"></p>
            <div class="row">
              <div class="col-6">
                <button class="btn btn-light" (click)="Buy('Shirt1','one')"type="button">Buy Now!</button>
              </div>
              <div class="col-6">
                <p
                  class="product-price"
                  style="font-family:'Baloo Paaji', cursive;"
                >
                  <strong>₹500</strong><br />
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div
      class="col-sm-6 col-md-4 product-item animation-element slide-rotate-clockwise"
    >
      <div class="product-container">
        <div class="row">
          <div class="col-md-12">
            <a href="#" class="product-image"
              ><img src="assets/img/T-SHIERT.jpeg"
            /></a>
          </div>
        </div>
        <div class="row">
          <div class="col-8">
            <h2>
              <a href="#" style="font-family:Cookie, cursive;font-size:27px;"
                >New 2</a
              >
            </h2>
          </div>
          <div class="col-4"><a href="#" class="small-text">compare </a></div>
        </div>
        <div class="row">
          <div class="col-12">
            <p class="product-description"></p>
            <div class="row">
              <div class="col-6">
                <button class="btn btn-light" (click)="Buy()" type="button">Buy Now!</button>
              </div>
              <div class="col-6">
                <p
                  class="product-price"
                  style="font-family:'Baloo Paaji', cursive;"
                >
                  ₹500<br />
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div
      class="col-sm-6 col-md-4 product-item animation-element slide-rotate-counterclockwise"
    >
      <div class="product-container">
        <div class="row">
          <div class="col-md-12">
            <a href="#" class="product-image"
              ><img src="assets/img/WhatsApp Image 2019-03-04 at 14.15.42.jpeg"
            /></a>
          </div>
        </div>
        <div class="row">
          <div class="col-8">
            <h2>
              <a href="#" style="font-size:27px;font-family:Cookie, cursive;"
                >Classic Tshit 2</a
              >
            </h2>
          </div>
          <div class="col-4"><a href="#" class="small-text">compare </a></div>
        </div>
        <div class="row">
          <div class="col-12">
            <p class="product-description"></p>
            <div class="row">
              <div class="col-6">
                <button class="btn btn-light" (click)="Buy()" type="button">Buy Now!</button>
              </div>
              <div class="col-6">
                <p
                  class="product-price"
                  style="font-family:'Baloo Paaji', cursive;"
                >
                  <strong>₹500</strong><br />
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-4 product-item animation-element slide-flip-x">
      <div class="product-container">
        <div class="row">
          <div class="col-md-12">
            <a href="#" class="product-image"
              ><img src="assets/img/WhatsApp Image 2019-03-04 at 14.15.43.jpeg"
            /></a>
          </div>
        </div>
        <div class="row">
          <div class="col-8">
            <h2>
              <a href="#" style="font-size:27px;font-family:Cookie, cursive;"
                >New&nbsp;</a
              >
            </h2>
          </div>
          <div class="col-4"><a href="#" class="small-text">compare </a></div>
        </div>
        <div class="row">
          <div class="col-12">
            <p class="product-description"></p>
            <div class="row">
              <div class="col-6">
                <button class="btn btn-light" (click)="Buy()" type="button">Buy Now!</button>
              </div>
              <div class="col-6">
                <p
                  class="product-price"
                  style="font-family:'Baloo Paaji', cursive;"
                >
                  <strong>₹500</strong><br />
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
