<div class="container" style="background-color:#343030;">
  <h1 class="text-center"></h1>
  <div class="row">
    <div class="col-md-7">
      <div class="row">
        <div class="col-md-12">
          <img
            class="img-thumbnail img-fluid center-block"
            src="{{ Details.image }}"
          />
        </div>
      </div>
    </div>
    <div class="col-md-5">
      <h1 style="font-family:Cookie, cursive;">{{ Details.name }}&nbsp;</h1>
      <h2
        class="text-center text-success"
        style="color:rgb(249,249,252);font-family:Amaranth, sans-serif;"
      >
        &nbsp;400
      </h2>
      <div class="form-group">
        <label for="exampleFormControlSelect1">Example select</label>
        <select id="size" class="form-control" id="exampleFormControlSelect1" >
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
          <option>5</option>
        </select>
      </div>  
      <button
        class="btn btn-danger btn-lg center-block"
        (click)="Order()"
        type="button"
        style="background-color:rgb(42,159,214);"
        
      >
        <i class="fa fa-cart-plus"></i> Add to Cart</button
      ><button
        class="btn btn-danger btn-lg center-block"
        type="button"
        style="background-color:rgb(42,159,214);"
      >
        Continue shopping
      </button>
    </div>
  </div>
</div>
