<div class="container" style="background-color:#343030;">
  <h1 class="text-center"></h1>
  <div class="row">
    <div class="col-md-7">
      <div class="row">
        <div class="col-md-12">
          <img
            class="img-thumbnail img-fluid center-block"
            src="{{ Details.image }}"
          />
        </div>
      </div>
    </div>
    <div class="col-md-5">
      <h1 style="font-family:Cookie, cursive;">{{ Details.name }}&nbsp;</h1>
      <h2
        class="text-center text-success"
        style="color:rgb(249,249,252);font-family:Amaranth, sans-serif;"
      >
        &nbsp;400
      </h2>

      <div id="month-dropdown" class="btn-group">
        <button type="button " class="btn btn-info" style="background-color:rgb(42,159,214);"> {{size}} </button>
        <button type="button" class="btn btn-info dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="background-color:rgb(42,159,214);">
          <span class="sr-only">Toggle Dropdown</span>
        </button>
        <div class="dropdown-menu">
          <a class="dropdown-item" *ngFor="let size of Sizes" (click)="setSize(size)">{{size}}</a>
        </div>
      </div>
      
      <button
        class="btn btn-danger btn-lg center-block"
        (click)="Order()"
        type="button"
        style="background-color:rgb(42,159,214);"
        
      >
        <i class="fa fa-cart-plus"></i> Add to Cart</button
      ><button
        class="btn btn-danger btn-lg center-block"
        type="button"
        style="background-color:rgb(42,159,214);"
      >
        Continue shopping
      </button>
    </div>
  </div>
</div>
